* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
    --black : #1d1f23;
    --blackest: #1a1c20;
    --grey : #444957;


}
html {
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
    font-weight: normal;
    /*text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);*/
}

/*header*/

.pen {
    display: grid;
    background-color: #1e2025;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    align-items: center;
    color: white;
    grid-gap: 6px;
}

.pen img {
    padding: 5px 8px 5px 8px;
}


.pen_details {
    display: grid;
    grid-template-columns: 13em 2em; /*Make the h1 responsive*/
    grid-template-rows: 1fr;
}
.small-button {
    background-color: transparent;
    border: none;
}
.fa-pencil-alt {
    color: white;
}

/*buttons*/
.button {
    padding: 10px 5px 10px 5px;
    border-radius: 2px;
    background-color: var(--grey);
    border: none;
    color: white;
}

.multibutton {
    padding: 6px 5px 6px 5px;
    background-color: var(--grey);
    border-radius: 2px;

}
iframe {
    width: 100%;
    height: 100%;
}

footer {
    display: block;
}

h1 {
    font-size: 19.5px;
}

p {
    font-size: 12px;
    color: #aaaebc;
}
